#overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 500;
    cursor: pointer;
}
#testing{
	  height:200px;
	  width:200px;
	  float:right;
	  right:0px;
	  position: absolute;
	  top: 0;
	}
	
	
.yx1 {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;
	max-width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
}

#overlay2 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 500;
    cursor: pointer;
}
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 2em;
    color: white;
    background-color: #D35B5B;
    font-family:'Gill Sans';
    /* clear: left; */
    font-size:18px;
    text-align: center;
}


.main {
    padding: 1em;
    color: #000;
    background-color: rgba(135, 218, 233, 0.69);
    font-family:'Gill Sans';
    clear: left;
    font-size:20px;
    text-align: center;
}

#restart {
              padding: 10px 20px;
              font-size: 24px;
              font-family:monospace; 
              text-align: center;
              text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
              cursor: pointer;
              outline: none;
              color: #fff;
              background-color: #4C6FAF;
              border: none;
              border-radius: 15px;
              box-shadow: 0 9px #999;
            }
            #restart:hover {background-color: #3E578E}
            
            #restart:active {
              background-color: #8E3E4B;
              box-shadow: 0 5px #666;
              transform: translateY(4px);
            }
            
        
#sketchpad{
    border-radius:4px;
    position:absolute; /* Necessary for correct mouse co-ords in Firefox */
    z-index: 20;

}
#sketchpadapp   {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
    }
    
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
 body  {
  /* background-image: url("paper.gif"); */
  /*background-color: rgba(201, 223, 235, 0.79);*/
  background-color: #fff;
  width:100%;
  height:100%;

}
#restart {
          padding: 10px 20px;
          font-size: 24px;
          font-family:monospace; 
          text-align: center;
          text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
          cursor: pointer;
          outline: none;
          color: #fff;
          background-color: #4C6FAF;
          border: none;
          border-radius: 15px;
          box-shadow: 0 9px #999;
        }
        #restart:hover {background-color: #3E578E}
        
        #restart:active {
          background-color: #8E3E4B;
          box-shadow: 0 5px #666;
          transform: translateY(4px);
        }

        .buttonSet{
          padding: 10px 20px;
          font-size: 24px;
          width: 100px;
          font-family:monospace; 
          text-align: center;
          text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
          cursor: pointer;
          outline: none;
          border: none;
          border-radius: 15px;
          box-shadow: 0 9px #999;
        }
        
        .buttonSet:hover {background-color: #3E578E}
        
        .buttonSet:active {
          background-color: #8E3E4B;
          box-shadow: 0 5px #666;
          transform: translateY(4px);
        }

        
        #btnStart {
          color: #fff;
          background-color: #15ee15;
        }
        #btnStop {
          color: #fff;
          background-color: #FF0000;
        }


        /* Remove the navbar's default margin-bottom and rounded borders */ 
        .navbar {
          margin-bottom: 0;
          border-radius: 0;
        }
        
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 450px}
        
        /* Set gray background color and 100% height */
        .sidenav {
          padding-top: 20px;
          background-color: #99B1CC;
          height: auto;
        }

        .right-sidenav{
          float: right;
        }
        
        /* Set black background color, white text and some padding */
        footer {
          background-color: #99B1CC;
          color: white;
          padding: 15px;
        }
        
        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
          .sidenav {
            height: auto;
            padding: 15px;
          }
          .row.content {height:auto;} 
        }

.modal-header{
  background: #23838A;

}

.modal-title{
  color:#fefefe;
  font-family:Helvetica; 

}
 .modal.fade{
  opacity:1;
  
}
.modal.fade .modal-dialog {
   -webkit-transform: translate(0);
   -moz-transform: translate(0);
   transform: translate(0);
}
.btn-black{
  position:absolute;
  bottom:50px;
  transform:translateX(-50%);
  background:#222;
  padding:10px 20px;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:14px;
  font-weight:bold;
}

p.c {
    position:fixed;
    bottom:10vh;
    right:0vw;
    height: 100px;
    border: 4px solid #4C6FAF;
    font-size: 60px;
    margin-top:0px;
    background-color: white;
    border-radius: 4px;
    z-index: 10;
}

.img{
    position: absolute;
    z-index: 5;
    width: 700px;
    height: 600px;
    margin-left: 50px;
    margin-top: 0px;
}

.bg{
    position:absolute; 
    z-index: 1;
    width: 1707px;
    height: 845px;
    background-color:#fff;
}